body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
overflow:hidden;
text-align:center;
}

.lock-screen,
.main{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
flex-direction:column;
}

.main{
display:none;
}

.glass{
background:rgba(255,255,255,.2);
padding:30px;
border-radius:20px;
backdrop-filter:blur(15px);
box-shadow:0 0 25px rgba(0,0,0,.2);
}

input{
padding:12px;
border:none;
border-radius:10px;
width:220px;
}

button{
margin-top:15px;
padding:12px 25px;
border:none;
border-radius:10px;
background:#ff4d88;
color:white;
cursor:pointer;
}

button:hover{
transform:scale(1.05);
}

#photo{
width:250px;
border-radius:20px;
margin:20px;
display:none;
animation:zoom 2s;
}

@keyframes zoom{
from{transform:scale(.2);}
to{transform:scale(1);}
}

.countdown{
display:none;
position:absolute;
top:40%;
width:100%;
font-size:120px;
color:white;
font-weight:bold;
}

.heart{
position:absolute;
color:#ff4d88;
animation:float 8s linear infinite;
}

@keyframes float{
0%{transform:translateY(100vh);}
100%{transform:translateY(-100vh);}
}